@import './variables';
@import './mixins';
@import './navbar';


.main-content {
    margin: 1.5% 2% 2%;
}


.content {
    margin: 2% 5px;
}

.widgets {
    @include layerstyle;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.widget {
    @include cardstyle;
    @include layer1card;
    padding: 15px 25px;

    h5 {
        font-size: size(small);
        color: $small-text-color;
        font-weight: weight(bold);
        padding-bottom: 5px;
    }
}

.widget-price {
    font-size: size(large);
    color: $text-color;
    font-weight: weight(vbold);
}

.widget-percentage {
    font-size: size(small);
    color: #82D616;
    font-weight: weight(vbold);
    padding-left: 2px;
}

#loss {
    color: #EA0606;
}

.widget-img {
    @include flexCenter;
    background: $linear-gradient1;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    height: 48px;
    width: 48px;
}



.layer1 {
    grid-template-columns: 2fr 1fr;
    @include layerstyle;
}

.rocket-card {
    @include cardstyle;
    @include layer1card;
    padding: 20px 25px;
}

.rocket-text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.upper-text {
    h4 {
        font-size: size(medium);
        color: $small-text-color;
        font-weight: weight(bold);
        padding-bottom: 5px;
    }
    h3 {
        font-size: size(large);
        color: $text-color;
        font-weight: weight(vbold);
        padding-bottom: 8px;
    }
    p {
        font-size: size(medium);
        color: $small-text-color;
        font-weight: weight(regular);
        line-height: 30px;
    }
}

.lower-text {
    color: $small-text-color;
    font-size: size(small);
    font-weight: weight(bold);
}

.rocket-img {
    background: $linear-gradient1;
    padding: 30px 5px;
    border-radius: 16px;
    @include flexCenter;
}


.background {
    height: 100%;
    width: 100%;
    background: url('../../dist/images/background.png');
    background-repeat: no-repeat;
    @include layer1card;
    flex-direction: column;
    padding: 12px 16px;
}

.image-card {
    @include cardstyle;
    @include layer1card;
    padding: 32px 38px;
    color: $white;
    
    h2 {
        font-size: size(large);
        padding-bottom: 12px;
        font-weight: weight(bold);
    }
    span {
        font-size: size(medium);
        font-weight: weight(thin);
        line-height: 26px;
    }

    .lower-text {
        color: white;
        font-weight: weight(regular);
    }

}


.layer2 {
    grid-template-columns: 40% auto;
    @include layerstyle;
}

.layer2-card1 {
    @include cardstyle;
    padding: 20px 25px;
}

.users {
    @include layer1card;
    padding-top: 40px;
}

.graph1-content {
    padding-top: 40px;
    h3 {
        color: $text-color;
        font-size: size(medium);
    }

    #bracket {
        color: $small-text-color;
    }

    span {
        font-weight: weight(bold);
        font-size: size(small);
    }

    #remain {
        color: $text-color;
        font-weight: weight(regular);
    }
}

.flex {
    display: flex;
}

.icon {
    display: flex;
    flex-direction: column;
    flex: 1;

    span {
        font-size: size(small);
        color: $small-text-color;
    }


    h1 {
        font-size: size(vlarge);
    }

    .black-bar {
        width: 80%;
        
        progress {
            width: 80%;
        }
    }
}

.black-bar progress {
    height: 4px;
}

.black-bar progress::-webkit-progress-bar {
    background-color: #E9ECEF;

}

.black-bar progress::-webkit-progress-value {
    background: black;
    border-radius: 5px;
}



.graph1 {
    background: linear-gradient(135deg, #3A416F 0%, #141727 100%);
    border-radius: 12px;
    padding: 15px;
    height: 55%
}

.layer2-card2 {
    @include cardstyle;
    padding: 20px 25px;
}

.graph2-heading {
    padding: 5px 0 55px;
    h3 {
        font-size: size(medium);
        color: $text-color;
    }

    span {
        font-size: size(small);
    }
}

.graph2 {
    height: 75%;
}

.per {
    color: $small-text-color;
    font-weight: weight(bold);
}

.year {
    color: $text-color;
    font-weight: weight(regular);
}

.layer3 { 
    grid-template-columns: 70% auto;
    @include layerstyle;
}

.layer3-card1 {
    @include cardstyle;

    h3 {
        font-size: size(medium);
        color: $text-color;
        padding-bottom: 10px;
    }

    span {
        font-size: size(small);
        color: $small-text-color;
        font-weight: weight(bold);
    }

    #percent {
        color: #17C1E8;
    }
}

.layer3-card1-heading {
    padding: 25px;
}


table {
    width: 100%;
    padding-bottom: 30px;
}

tbody {
    padding: 10px;
}

th {
    font-size: size(small);
    color: #8392AB;
    border-bottom: 1px solid #F5F5F5;
    padding: 20px;
    text-align: center;
}

td {
    font-size: size(small);
    color: $text-color;
    font-weight: weight(bold);
    border-bottom: 1px solid #F5F5F5;
    padding: 5px 20px;
}

tr:hover {
    background-color: #F8F9FA;
}

#companies {
    text-align: left;
}


progress {
    -webkit-appearance: none;
    height: 3px;
}
progress::-webkit-progress-bar {
    background-color: #E9ECEF;
    border-radius: 1.5px;
}
progress::-webkit-progress-value {
    background: linear-gradient(135deg, #21D4FD 0%, #2152FF 100%);
    border-radius: 1.5px;
}

.completed progress::-webkit-progress-value {
    background: #52C41A;
}

.cancel progress::-webkit-progress-value {
    background: #F5222D;
}

.companies {
    display: flex;
    align-items: center;

    span {
        color: $text-color;
        padding: 15px;
        font-weight: weight(bold);
    }
}

.budget {
    color: #8392AB;
    font-size: size(vsmall);
    padding: 5px 55px;
    text-align: center;
}

.members {
    padding: 5px 55px;
    text-align: center;
}

.completion {
    color: $small-text-color;
    font-size: size(small);
    font-weight: weight(regular);
    padding: 5px 5px 5px 55px;

    p {
        margin-top: -10px;
    }
}

#last {
    border-bottom: 0;
}

.uni {
    color: $text-color;
    font-weight: weight(medium);
}

.layer3-card2 {
    @include cardstyle;
    padding: 30px;
    z-index: -2;
    position: relative;

    h3 {
        font-size: size(medium);
        color: $text-color;
        // padding-bottom: 8px;
    }

    span {
        font-size: size(small);
    }
}

.label {
    display: flex;
    gap: 4px;
    align-items: center;
    padding-top: 8px;
}


.history {
    position: relative;
    padding-top: 14px;

    .line {
        position: absolute;
        height: 97%;
        width: 2px;
        background: #F5F5F5 ;
        left: 7px;
        top: 40px;
        z-index: -1;
    }
}

.order {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-top: 24px;

    img {
        height: 15px;
        width: 15px;
        margin: 4px 0;
    }

    .order-details {
        padding-left: 18px;

        .order-number {
            color: $text-color;
            font-size: size(small);
            font-weight: weight(bold);
        }

        .time {
            color: $small-text-color;
            font-size: size(vsmall);
            padding: 4px 0;
        }
    }
}

.settings {
    border-radius: 24px;
    background-color: $white;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.07);
    position: absolute;
    bottom: -20px;
    right: 25px;
    padding: 16px;
    display: flex;
    align-items: center;
}




.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
    color: $small-text-color;
    font-size: size(small);

    .left-footer {
        display: flex;
        gap: 4px;
        align-items: center;
        margin-left: -1%;
    
        .bold {
            color: $text-color;
            font-weight: weight(vbold);
        }
    }
    
    .right-footer {
        padding-right: 20px;
        a{
            text-decoration: none;
            padding: 0 10px 0 30px;
            color: $small-text-color !important;
        }
    
        a:visited {
            text-decoration: none;
        }
    }
}
