@import './variables';
@import './mixins';
@import './navbar';


.main-content {
    margin: 1.5% 2% 2%;
}


.content {
    margin: 2% 0;
}

.widgets {
    display: grid;
    margin: 2% 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 50px;
}

.widget {
    box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    background-color: $white;
    padding: 15px 25px;

    h5 {
        font-size: size(small);
        color: $small-text-color;
        font-weight: weight(bold);
        padding-bottom: 5px;
    }
}

.widget-price {
    font-size: size(large);
    color: $text-color;
    font-weight: weight(vbold);
}

.widget-percentage {
    font-size: size(small);
    color: #82D616;
    font-weight: weight(vbold);
    padding-left: 5px;
}

#loss {
    color: #EA0606;
}

.widget-img {
    @include flexCenter;
    background: $linear-gradient1;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    height: 48px;
    width: 48px;
}



.layer1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
}

.rocket-card {
    @include layer1card;
    background-color: $white;
    padding: 20px 25px;
}

.rocket-text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.upper-text {
    h4 {
        font-size: size(medium);
        color: $small-text-color;
        font-weight: weight(bold);
        padding-bottom: 5px;
    }
    h3 {
        font-size: size(large);
        color: $text-color;
        font-weight: weight(vbold);
        padding-bottom: 8px;
    }
    p {
        font-size: size(medium);
        color: $small-text-color;
        font-weight: weight(regular);
        line-height: 30px;
    }
}

.lower-text {
    color: $small-text-color;
    font-size: size(small);
    font-weight: weight(bold);
}

.rocket-img {
    background: $linear-gradient1;
    padding: 30px 5px;
    border-radius: 16px;
    @include flexCenter;
}


.image-card {
    @include layer1card;
    background-color: $white;
    padding: 15px;
}

.background {
    height: 100%;
    width: 100%;
    background: url('../../dist/images/background.png');
    background-repeat: no-repeat;
}


.layer2 {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 50%;
    margin: 2% 0;
    gap: 50px;
}

.layer2-card1 {
    @include layer1card;
    background-color: red;
    height: 400px;
}

.layer2-card2 {
    @include layer1card;
    background-color: $white;
}