@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

$primary-color: #F8F9FA;
$white: #fff;
$text-color: #252F40;
$small-text-color: #67748E;
$linear-gradient1: linear-gradient(135deg, #FF0080 0%, #7928CA 100%);
$font-family: 'Open Sans';
$font-weights: (
    "thin": 300,
    "regular": 400,
    "medium": 500,
    "bold": 600,
    "vbold": 700
);
$font-size: (
    "small": 14px,
    "medium": 16px,
    "large": 20px
);